00_synths/*/audio/
00_synths/*/features/chroma/
00_synths/*/features/loudness/
00_synths/*/features/specshape/
00_synths/*/features/mfcc/
00_synths/*/features/sinefeaturefreqs/
00_synths/*/features/sinefeaturemags/
00_synths/*/gym_models/logs/
00_synths/*/gym_models/models/
!*/DQN_best.zip
!*/PPO_best.zip
!*/A2C_best.zip
01_corpus/*/audio/
__pycache__/

*.wav
*.txt
.DS_Store